<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.journz.journz">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
  <!-- <meta-data
          android:name="com.google.firebase.messaging.default_notification_icon"
          android:resource="@drawable\ic_launcher.png" />
        <meta-data
          android:name="com.google.firebase.messaging.default_notification_color"
          android:resource="@color/colorPrimary" />--> 
</manifest>
